<H1 class="uppercase">Bienvenue sur votre page d'administration</H1>
<h2 class="uppercase text-center">Employé(e)</h2>

<div class="flex gap-5 justify-around">
    <div>
        <p>
            - valider un avis ou l’invalider.<br>
            - modifier les services du zoo.<br>
            - sélectionner un animal et lui ajouter une consommation de nourriture,<br>
                - date <br>
                - l’heure<br>
                - la nourriture<br>
                - la quantité.
        </p>
        <h3 class="text-2xl">Les services</h3>
        <hr class="my-5">
        <div class="flex flex-col">
            {% for service in services %}
                <div class="border-b border-b-slate-200 px-5 py-2">
                    {{ service.name }}
                </div>
            {% endfor %}
        </div>

    </div>
    <div>
        <h3  class="text-2xl">Les commentaires</h3>
        <hr class="my-5">
        {% for comment in comments %}
            <div class="border-b border-b-slate-200 px-5 py-2">
                {{ comment.pseudo }}
            </div>
        {% endfor %}
    </div>
</div>