{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
    <section class="cont">
        <h1>Arcadia Zoo</h1>
        <h2 class="text-center mt-10">Réinitialisation de votre mot de passe</h2>
        <div class="row">
            <div class="bg-slate-200 shadow-lg w-3/4 p-5 mx-auto">
                {{ form_start(requestPassForm) }}
                {{ form_row(requestPassForm.email) }}
                <button type="submit" class="btn">Envoyer</button>
                {{ form_end(requestPassForm) }}
            </div>
        </div>
    </section>
{% endblock %}