{% extends 'base.html.twig' %}

{% block title %}Dashboard - Arcadia Zoo{% endblock %}

{% block body %}
    <div class="cont">
        {% if is_granted('ROLE_ADMIN') %}
            {{ include('_partials/_admin_block.html.twig') }}
        {% endif %}

        {% if is_granted('ROLE_EMPLOYE') %}
            {{ include('_partials/_employe_block.html.twig') }}
        {% endif %}

        {% if is_granted('ROLE_VETERINAIRE') %}
            {{ include('_partials/_veterinaire_block.html.twig') }}
        {% endif %}
    </div>
{% endblock %}
