{% extends 'base.html.twig' %}

{% block title %}Dashboard - Arcadia Zoo{% endblock %}

{% block body %}
    <div class="cont">
        <h1>Arcadia Zoo - Administration</h1>
        {{ include('_partials/dashboard/_animals.html.twig') }}


    </div>
{% endblock %}
