{% extends 'base.html.twig' %}

{% block title %}Modifier la nourriture{% endblock %}

{% block body %}
    <div class="nav-context">
        <div class="parent">
            <a  href="{{ path('app_eating_index') }}">
                {{ include('_partials/icons/_left-circle.html.twig') }}
            </a>
            <div class="right">
                <div class="ms-3">
                    {{ include('admin/eating/_delete_icon.html.twig') }}
                </div>
            </div>
        </div>
    </div>

    <div class="cont">
        <h1>Modifier la nourriture</h1>
        <div class="flex flex-col justify-center items-center">
            <div class="bg-slate-200 p-10 lg:w-1/2">
                {{ include('admin/eating/_form.html.twig', {'button_label': 'Enregistrer'}) }}
            </div>
        </div>
    </div>
{% endblock %}
