{% extends 'base.html.twig' %}

{% block title %}Modifier un commentaire{% endblock %}

{% block javascripts %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
    <script src="{{ asset('assets/js/ckeditor.js') }}" defer></script>
{% endblock %}

{% block body %}
    <div class="cont">
        <h1>Modifier un commentaire</h1>
        <div class="flex justify-center">
            <div class="bg-slate-200 p-10 lg:w-1/2">
                {{ include('admin/comment/_form.html.twig', {'button_label': 'Enregistrer'}) }}
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="btn">
                        {{ include('admin/comment/_delete_form.html.twig') }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
