{% extends 'base.html.twig' %}

{% block title %}Modifier un service{% endblock %}

{% block javascripts %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
    <script src="{{ asset('assets/js/ckeditor.js') }}" defer></script>
{% endblock %}

{% block body %}

    <div class="nav-context">
        <div class="parent"></div>
    </div>

    <div class="cont">
        <div class="card-show">
            <h1>Modifier un service</h1>
            {{ include('admin/service/_form.html.twig', {'button_label': 'Modifier'}) }}

        </div>


    </div>
{% endblock %}
