{% extends 'base.html.twig' %}

{% block title %}Créer un service{% endblock %}

{% block body %}
    <div class="cont">
        <h1>Créer un service</h1>
        <div class="flex justify-center">
            <div class="bg-slate-200 w-3/4 g:w-1/2 p-10">
                {{ include('admin/service/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
