{% extends 'base.html.twig' %}

{% block title %}Créer un animal{% endblock %}

{% block body %}
    <div class="cont">
        <h1>Créer un animal</h1>
            <div class="card-show">
                {{ include('admin/animal/_form.html.twig') }}
            </div>
    </div>
{% endblock %}
